<main >
  <section class="Contenedor">
    <div class="Info">
      <div class="informacion slash-abajo">
        <h1>Informacion De Contacto</h1>
        <p>Contactarse a:</p>
      </div>
      <div class="informacion slash-izquierda ">
          <span>
            <p>Ubicanos en 1: </p>
          </span>
        <span>
            <p>Av, 17 de julio 5-21 y Gral. José María Córdova - Sector El Olivo</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aspernatur commodi dolor dolores enim esse exercitationem, fugiat impedit in iusto magnam placeat provident reiciendis reprehenderit similique, unde ut? Hic, officia?</p>
          </span>
      </div>
      <div class="informacion slash-derecha ">
          <span>
            <p>Ubicanos en 2: </p>
          </span>
        <span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aspernatur commodi dolor dolores enim esse exercitationem, fugiat impedit in iusto magnam placeat provident reiciendis reprehenderit similique, unde ut? Hic, officia?</p>
          </span>
      </div>
      <div class="informacion slash-arriba ">
          <span>
            <p>Ubicanos en 2: </p>
          </span>
        <span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aspernatur commodi dolor dolores enim esse exercitationem, fugiat impedit in iusto magnam placeat provident reiciendis reprehenderit similique, unde ut? Hic, officia?</p>
          </span>
      </div>
    </div>
    <div class="Imagen_Contacto ">
      <img src="/Imagen/ImagenPinguino.jpg" alt="Imagen">
    </div>
  </section>
  <section class="Mapa ">
    <div class="mapa-container ">
      <iframe
        [src]="mapaUrl"
        width="100%"
        height="450"
        style="border:0;"
        allowfullscreen
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
      </iframe>

      <div style="text-align: center; margin-top: 10px;">
        <a [href]="enlaceMaps" target="_blank" rel="noopener noreferrer" class="boton-maps">
        </a>
      </div>
    </div>

  </section>
</main>

<router-outlet />
