<main>
  <section class="Contenedor">
    <div class="Sobre_Nosotros">
      <h1 class="slash-arriba">Sobre Nosotros</h1>
      <p class="slash-abajo">Somos una red internacional sin fines de lucro que impulsa la investigación científica y el desarrollo tecnológico en ingeniería sostenible. Promovemos la colaboración entre instituciones de educación superior, centros de investigación y actores del sector productivo, articulando un ecosistema interdisciplinario orientado a generar soluciones innovadoras para los desafíos actuales.
        A través de nuestra estructura colaborativa, facilitamos la integración de saberes, el fortalecimiento de capacidades investigativas y la transferencia efectiva del conocimiento hacia el sector productivo y la sociedad. Nuestra labor se enmarca en los principios del desarrollo sostenible, la equidad, la innovación responsable y la mejora continua de la calidad de vida, tanto a nivel local como global.
        Trabajamos comprometidos con los Objetivos de Desarrollo Sostenible (ODS) y con el propósito de crear un impacto positivo en los ámbitos ambiental, social y económico.
      </p>
    </div>
    <div class="Mision-Vision">
    <span>
      <h2 class="slash-izquierda">Mision</h2>
      <p class="slash-abajo">Fomentamos la investigación científica y el desarrollo de tecnologías innovadoras en ingeniería sostenible, articulando la colaboración entre academia, centros de investigación y sector productivo para impulsar la industrialización responsable, la gestión eficiente de recursos y el bienestar de las comunidades.</p>
    </span>
      <span>
      <h2 class="slash-derecha">Vision</h2>
      <p class="slash-abajo">Consolidarnos como una red internacional líder en soluciones sostenibles e innovadoras, tejiendo alianzas globales que transformen los desafíos ambientales, sociales y económicos en oportunidades alineadas con los Objetivos de Desarrollo Sostenible.</p>
    </span>
    </div>
  </section>
</main>
<router-outlet />
