<main>

  <section class="contenedor">
    <div class="titulo">
    <h1 class="titulo">Universidades Aliadas</h1>
    </div>
    <div class="cartas">
      <a href="https://www.utn.edu.ec" class="carta">
        <div class="carta-imagen">
          <img src="/Utnr.png" />
        </div>
        <div class="carta-informacion">
          <h2 class="subtitle">Universidad Técnica del Norte</h2>
        </div>
      </a>

      <a href="https://www.icesi.edu.co" class="carta">
        <div class="carta-imagen">
          <img src="/ICESI.png" />
        </div>
        <div class="carta-informacion">
          <h2 class="subtitle">Universidad ICESI (Colombia)</h2>
        </div>
      </a>

      <a href="https://www.ug.edu.ec" class="carta">
        <div class="carta-imagen">
          <img src="/gUAYAKIL.png" />
        </div>
        <div class="carta-informacion">
          <h2 class="subtitle">Universidad de Guayaquil</h2>
        </div>
      </a>

      <a href="https://www.utm.edu.ec" class="carta">
        <div class="carta-imagen">
          <img src="/utm.png" />
        </div>
        <div class="carta-informacion">
          <h2 class="subtitle">Universidad Técnica de Manabí</h2>
        </div>
      </a>

      <a href="https://www.espol.edu.ec" class="carta">
        <div class="carta-imagen">
          <img src="/espol.png" />
        </div>
        <div class="carta-informacion">
          <h2 class="subtitle">Escuela Superior Politécnica del Litoral (ESPOL)</h2>
        </div>
      </a>

      <a href="https://www.uea.edu.ec" class="carta">
        <div class="carta-imagen">
          <img src="/manabi.svg" />
        </div>
        <div class="carta-informacion">
          <h2 class="subtitle">Universidad Estatal Amazónica</h2>
        </div>
      </a>
    </div>
  </section>
</main>
