<main>
  <h1 class="titulo">Universidades Aliadas</h1>
  <section class="contenedor">

    <div class="carta">
      <p class="carta-imagen">
        <img src="/Utnr.png" />
      </p>
      <div class="carta-informacion">
        <h2 class="subtitle">Universidad Técnica del Norte</h2>
      </div>
    </div>

    <div class="carta">
      <p class="carta-imagen">
        <img src="/ICESI.png" />
      </p>
      <div class="carta-informacion">
        <h2 class="subtitle">Universidad ICESI (Colombia)</h2>
      </div>
    </div>

    <div class="carta">
      <p class="carta-imagen">
        <img src="/gUAYAKIL.png" />
      </p>
      <div class="carta-informacion">
        <h2 class="subtitle">Universidad de Guayaquil</h2>
      </div>
    </div>

    <div class="carta">
      <p class="carta-imagen">
        <img src="/utm.png" />
      </p>
      <div class="carta-informacion">
        <h2 class="subtitle">Universidad Técnica de Manabí</h2>
      </div>
    </div>

    <div class="carta">
      <p class="carta-imagen">
        <img src="/espol.png"  />
      </p>
      <div class="carta-informacion">
        <h2 class="subtitle">Escuela Superior Politécnica del Litoral (ESPOL)</h2>
      </div>
    </div>

    <div class="carta">
      <p class="carta-imagen">
        <img src="/manabi.svg" />
      </p>
      <div class="carta-informacion">
        <h2 class="subtitle">Universidad Estatal Amazónica</h2>
      </div>
    </div>

  </section>
</main>
