<main>
  <section class="Contenedor">
    <div class="Beneficios">
      <h1 class="slash-arriba">DESCRIPCIÓN DE LA RED DE INVESTIGACIÓN</h1>

      <h2 class="subtitle">• Nombre:
        <span> Red Internacional de Investigación en Procesos de Ingeniería Sostenible</span>
      </h2>

      <h2 class="subtitle">• Acrónimo:
        <span>RIPIS </span>
      </h2>

      <h2 class="subtitle">•Descripción:
      <span>Red de carácter académico y científico que articula instituciones y profesionales para desarrollar soluciones sostenibles mediante investigación aplicada e innovación tecnológica.</span>
      </h2>
    </div>
    <div class="Objetivos">
        <h3>OBJETIVOS</h3>
        <p>Objetivos de la Red de Investigación:</p>
        <p>• Promover la colaboración entre investigadores, académicos y profesionales de diversas disciplinas para abordar los desafíos complejos relacionados con los procesos de ingeniería sostenible.</p>
        <p>• Desarrollar soluciones innovadoras y sostenibles en los campos de la producción industrial, agropecuaria, forestal, biotecnología, energía y seguridad alimentaria, contribuyendo al avance del conocimiento y la tecnología.</p>
        <p>• Contribuir a la creación de ciudades más inclusivas, seguras y sostenibles a través de la investigación en tecnologías y procesos que promuevan la mejora de la sostenibilidad urbana.</p>
        <p>• Crear plataformas y mecanismos para la difusión y transferencia de conocimientosy tecnologías desarrolladas dentro de la red, asegurando su aplicación efectiva en el sector productivo y en políticas públicas.</p>
        <p>• Aumentar la capacidad de investigación y desarrollo de las instituciones participantes, promoviendo la formación de investigadores y el fortalecimiento de grupos de investigación en los campos de interés de la red.</p>
        <p>• Impactar positivamente en el desarrollo socioeconómico de las comunidades, contribuyendo a la reducción de la pobreza, la creación de empleo digno y el mejoramiento de la calidad de vida.</p>
        <p>• Fomentar prácticas y tecnologías que aseguren la sostenibilidad ambiental, la conservación de recursos naturales y la mitigación del cambio climático, alineándose con los Objetivos de Desarrollo Sostenible.</p>
    </div>
  </section>
</main>
<router-outlet />
